 body {
     margin: 0px;
     margin-top: 10px;
 }
 
 .container {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
 }
 
 h1 {
     font-family: 'Pacifico', cursive;
     font-size: 3em;
     border-bottom: 2px solid green;
     width: 400px;
     text-align: center;
     border-right: 2px solid green;
     box-shadow: 4px 4px 5px #888888;
     margin: 0px;
 }
 
 img {
     width: 450px;
     height: 300px;
     margin: 10px;
     transition: all 1s;
 }
 
 img:hover {
     transform: scale(1.1);
     animation: pulse 5s infinite;
 }
 
 footer {
     text-align: center;
     font-family: 'Dancing Script', cursive;
 }